.DS_Store
*~

.vim
.env
target
.idea
**/Cargo.lock

/data
tokenizers/data
bindings/python/tests/data
docs/build/
docs/make.bat

__pycache__
pip-wheel-metadata
*.egg-info
*.so
/bindings/python/examples/.ipynb_checkpoints
/bindings/python/build
/bindings/python/dist

.vscode
*.code-workspace


test_data.bin
test_dataset.bin
test_index.bin
test_index.idx
